* {
  box-sizing: border-box;
}

body {
  font-family: Geneva, Verdana, sans-serif;
  color: #27131a;
  background-color: #ebfafe;
  text-align: center;
  margin: 0 auto;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;

}

.pokemon-list>li {
  background-color: #d5bbcd;
  margin: 10px;
  padding: 10px;
  /* preserve aspect ratio for the box */
  aspect-ratio: 2 / 1;
  flex-basis: 31%;
  box-shadow: 10px 5px 5px #675c5f;
  box-shadow:
    /* left */
    inset 60px 0 120px rgb(129, 50, 61),
    /* right */
    inset -60px 0 120px rgb(40, 126, 126),
    /* outer */
    0 0 10px #625b5b;
  border-radius: 10px;
}

.button:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  opacity: 85%;
  -webkit-transition-duration: 0.5s;
}

.button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 2px 1px #bdabaf, 0px 1px 0px #e3e6ec, 0px 1px 0px #d4d8e2, 0px 2px 0px #d9dde7;
  background-color: #ebfafe;

}

p {
  font-style: oblique;
}

/* --- Loading message ---*/
.loading-message {
  display: flex;
  flex-direction: column;
  color: black;
  
}
.hidden{
  display: none;
}
.loading-image {
 align-self: center;
 width: 100vh;
}

/*-----Modal container------*/
#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color:#ebfafe;;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
}

#title {
  margin-top: 15px;
  text-align: center;
}

#content {
  font-size: larger;
  font-stretch: wider;
  font-variant: small-caps;
  display: inline-block;
  text-align: left;
}

.pokemon-image{
  position: relative;
  width: 50vw;
  float: left;
  max-width: 300px;
  box-shadow: 0 0 5px 5px #675c5f;
}

.modal-close {
  display: inline;
  position: relative;
  float: right;
  -webkit-appearance: none;
  border: 2px solid black;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}
/*--Modal container end--*/

/* ----------  */
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .pokemon-list {
    flex-direction: column;
    flex: 100%;
  }

  .button {
    height: 25vh;
  }
}
